<h1>Demo Time-Aligned Spoken Corpus</h1>
<p>This is a small demo corpus demonstrating how TEITOK can work with Time aligned spoken corpora that consist of audio files (or video files) and TEI/XML transcription of those audio files with information which part of the audio corresponds to which part of the transcription.</p>
<h2>Demo File</h2>
<p>This corpus comes with the following spoken files:</p>
<p>Anaya's Thumb, a short children's story written by Natasha Sharma and taken from the <a href="https://storyweaver.org.in">StoryWeaver</a> project. StoryWeaver is a digital repository of multilingual stories for children from Pratham Books, that aims to have every child be able access to an stories in her mother tongue to read and enjoy. The StoryWeaver story was read out aloud by one of the StoryWeaver contributors, and the recording was time-aligned with the story by us. Futhermore the story was annotated with dependency grammar using <a href="https://lindat.mff.cuni.cz/services/udpipe/">UDPIPE</a>.&nbsp;&nbsp;</p>
<h2>Settings&nbsp;&nbsp;</h2>
<p>To optimally work with align spoken data, the following customizations were made in the TEITOK settings:</p>
<p>- The default fileview has been set to WaveSurfer, a speech oriented file view providing a waveform view of the text, and where the transcription is highlighting the current segment while listening to the audio.</p>
<p>- The story was segmented into utterances, provided with a start and stop indicating where in the audio the utterance appears</p>
<p>- The utterances and audio file are exported to the searchable corpus, and the default context in CQP was set to show the utterance, making it possible to directly listen to the search results.</p>
<p>- The CSS file (xmlstyles.css) makes sure that the audio transcription displays correctly, suppressing the underlining of <u> elements, and displaying pauses, gaps, non-verbal content, repetitions, etc.</u></p>
<p>- The file manager has been set to allow uploading .mp3 files so that additional audio files can be uploaded</p>